*,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Catamaran', "Tableau Book", Tableau, Arial, sans-serif;
}
.hidden {
  display: none;
  visibility: hidden;
}
html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}
.reveal .controls[data-controls-layout="edges"] {
    bottom: 100px;
}
span.title_span {
  color: #ff5733;
}
.right {
  text-align: center;
}
.right .tableauplaceholder {
  display: inline-block;
}
header {
  background-color: rgb(27,27,27);
  color: white;
  padding: 25px;
  color: #F06355;
}
header span {
  font-size: 25px;
}
header span a.website-title {
  color: #F06355 !important;
}
header .jump-links {
  float: right;
}
header .jump-links .link {
  display: inline-block;
  padding: 5px;
}
header .jump-links .link a{
  color: #A1CBE7;
}
.left {
  width: 32%;
  display: inline-block;
  float: left;
}
.left .sources {
  bottom: 0px;
  font-size: 5px;
  color: grey;
  font-weight: 200;
}
.right {
  display: inline-block;
  float: right;
  top: 0;
  width: 67%;
  height: 100%;
}
slides::after {
  content: "";
  background: url(../img/landing_background.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
slide {
  height: 100%;
}
.has-dark-background::after {
  opacity: 0.5;
}
.supporting_text {
  line-height: 12px !important;
  text-align: justify;
  font-family: "Tableau Book", Tableau, Arial, sans-serif;
}
.left .supporting_text span, p {
  font-size: 12px;
  margin-top: 5px;
}
.left .supporting_text span.sources span {
  bottom: 0px;
  font-size: 6px;
  line-height: 6px;
  color: grey;
  font-weight: 200;
  display: block;
}